.app{
    min-height: 100vh;
    font-family: Optimistic, "Segoe UI Historic", "Segoe UI", Helvetica, Arial, sans-serif
}

.container{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    margin-top: 2rem; 
}

.left-side, .right-side{
    background: white;
    padding:2em;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    min-height: 70vh
}

h2{
    color: #062e5a;
}

@media (max-width: 900px){
    .container{
        grid-template-columns:1fr;
    }
}

.section {
    margin-bottom:3rem;
}

input, textarea{
    width:100%;
    padding: 12px;
    margin: 8px 0;
    border: 1px solid #ddd;
    font-size:1rem;
}

button{
    background: #007bff;
    color: white;
    border:none;
    padding: 10px 20px;
    cursor:pointer;
    font-size:1rem;
}

button:hover{
    background: #0056b3;
}

.preview button {
  background: #28a745;
}

.preview button:hover {
  background: #218838;
} 